.header-search{
  background-image: url("images/back.png");
  position: absolute;
  width: 191px;
  height: 46px;
  opacity: 0.8;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.header-background {
  background-image: url("images/header_background.png");
  left: 0px;
  width: 100%;
  height: 121px;
  padding-top: 16px;
  position: absolute;
}

.content-background{
  background:url("images/content_background.png")   left repeat-x;
  width: 100%;
  height: 700px;
  display: block;
}
.content-top-background{
  background: url("images/content-top_background.png") left no-repeat;
  width: 100%;
  height: 571px;
  display: block;
}
.Content-mid_Background{
 background: url("images/content-mid_background.png") center no-repeat;
 width:100%; 
 height:600px;
}
.gika a:hover{
  background-image: none; 
  color: #BEBEBE;
  text-decoration: none;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.36);

}
.Sidebar{
  background-image: url("images/sidebar_background.png");
  width: 191px;
  height: 500px;
  margin-top: 50px;
}
.Item-size{
  margin-top: 100px;
  padding-right: 50px;
  height: 500px;
  width:100%;
}
.card{
  width: 10rem;
  height: 8rem;
  margin-top: 10px;
}
.Heading{
  background-image: url("images/heading_backgrounds");
  width:165px;
  position: absolute;
  margin-top: 10px;
  margin-left:10px;
  height: 500px;
}
.Heading a {
  color: rgb(94, 94, 94);
  line-height: 0.003;
  text-align: left;
  text-decoration:none;
  font-family: "Trebuchet MS";
  padding-top: 10px;
  font-size: 13px;

}
.Changetop_heading{
  margin-top: 5px;
}
.Heading h5 a{
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.36);
  font-size: 18px;
  color: rgb(94, 94, 94);
} 
#position{
  margin-left: 90px;
}
.seperate{
  background-image: url("images/seperate.png");
  background-position:1% ;
}
.normal a:hover{
  background-image: url("images/selected_item.png");
  color: rgb(94, 94, 94);
  line-height: 0.003;
  text-align: left;
  text-decoration:none;

  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.36);
}

.hover a{
  color: #f2f2f2;
  padding:20px 25px 25px 25px;
  font-size: 15px;
  font-family: "Trebuchet MS";
  text-decoration:none;
}



#row_margin{
  margin-top: 25px;
}
form.example input[type=text] {
    float: left;
    width: 60%;
    height: 30px;
    font-size: 12px;
    font-family: "Arial";
    color: rgb(37, 120, 5);
    line-height: 1.2;
    text-align: left;
    position: absolute;
    border-radius: 6px;
    color: #666666;
    padding: 0 8px 0 10px;

}
h2{
  color:#F2F3F4;
  font-family: "Trebuchet MS";
}
h6{
  color:#F2F3F4;
  font-family: "Trebuchet MS";
}
.Check__Size h2{
  margin-top: 30px;
}
.Check__Size img{
  margin-top: 10px;
}
.Check__Size h5{
  font-family: "Trebuchet MS";
  color:#F2F3F4;
  margin-left: 20px;
}
.Check_Size h5{
  font-family: "Trebuchet MS";
  margin-top: 20px;
  color:black;
}
.details_background a:hover{
  background-image: url("images/details_background.png");
  color: rgb(94, 94, 94);
  line-height: 0.003;
  text-align: left;
  text-decoration:none;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.36);
}
.details_background a{
  color: #f2f2f2;
  padding:10px 10px 10px 10px;
  font-size: 15px;
  margin-left: 100px;
  font-family: "Trebuchet MS";
  text-decoration:none;
}

form.example button {
    float: right;
    width: 30%;
    height: 30px;
    background-image: url("images/color.png");
    font-family: "Arial";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
}
.Navbar {
  display: flex;
  padding-top: 15px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 75px;
  font-family: "Trebuchet MS"
}
.Navbar__Link {
  padding-top: 10px;
}

.Navbar__Items {
  display: flex;
}
.Navbar__Items--left {
  margin-left: 50px;
}
.Navbar__Link--left {
  margin-right: 15px;
}
.Navbar__Items--right {
  margin-left:auto; 
}
.Navbar__Link-toggle {
  display: none;
}
@media only screen and (max-width: 768px) {
  .Navbar__Items,
  .Navbar {
    flex-direction: column; 
  }
.header-search{
  display: none;
}

#position{
  margin-left: 0px;
}
.change_position{
  margin-left: 130px;
}
.content-background{
  display: none;
}
.content-top-background{
  display: none;
}

.Navbar__Items  {
    display:none;
    background-image: url("images/content_background.png");
    width: 50%;
    margin-top: 3px;
    margin-left: 50%;
  }
.Navbar__Items--right {
    margin-left:auto;
  }
.open{
  display: all;
}

.close{
  display: none;
}


a{
  background-image: none; 
  color: #BEBEBE;
  text-decoration: none;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.36);
}
.Navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
    color : #BEBEBE;
   } 
}
