.header-search{
  background-image: url("images/back.png");
  position: absolute;
  width: 191px;
  height: 46px;
  opacity: 0.8;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.header-background {
  background-image: url("images/header_background.png");
  position: absolute;
  left: 0px;
  width: 100%;
  height: 124px;
  padding-top: 15px;
}

#gika a:hover{
  background-image: none; 
  color: #f2f2f2;
  text-decoration: none;
}
nav{
	padding-left: 3%;
}
.seperate{
  background-image: url("images/seperate.png");
  background-position:1% ;
}

#normal a:hover{
	background-image: url("images/selected_item.png");
	color: rgb(94, 94, 94);
  line-height: 0.003;
 	text-align: left;
 	text-decoration:none;

  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.36);
}

nav a{

  color: #f2f2f2;
  text-align: center;
  padding: 3% 3%;
  font-size: 15px;
  font-family: "Trebuchet MS";
  text-decoration:none;
}
form.example input[type=text] {
    float: left;
    width: 60%;
    height: 30px;
    font-size: 12px;
  	font-family: "Arial";
  	color: rgb(37, 120, 5);
  	line-height: 1.2;
  	text-align: left;
  	position: absolute;
  	border-radius: 6px;
  	color: #666666;
    padding: 0 8px 0 10px;

}

form.example button {
    float: right;
    width: 30%;
    height: 30px;
    background-image: url("images/color.png");
    font-family: "Arial";
   	color: rgb(255, 255, 255);
  	font-weight: bold;
  	line-height: 1.2;
}



